@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../../public/bg-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

  @media screen and (min-width: 630px) {
    background-image: url("../../public/bg-desktop.jpg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}